/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$filter-checked-name: 'filter-checked';
$filter-checked-x: 828px;
$filter-checked-y: 33px;
$filter-checked-offset-x: -828px;
$filter-checked-offset-y: -33px;
$filter-checked-width: 24px;
$filter-checked-height: 24px;
$filter-checked-total-width: 1040px;
$filter-checked-total-height: 228px;
$filter-checked-image: '../images/spritesheet.png';
$filter-checked: (828px, 33px, -828px, -33px, 24px, 24px, 1040px, 228px, '../images/spritesheet.png', 'filter-checked', );
$filter-close-name: 'filter-close';
$filter-close-x: 963px;
$filter-close-y: 33px;
$filter-close-offset-x: -963px;
$filter-close-offset-y: -33px;
$filter-close-width: 14px;
$filter-close-height: 13px;
$filter-close-total-width: 1040px;
$filter-close-total-height: 228px;
$filter-close-image: '../images/spritesheet.png';
$filter-close: (963px, 33px, -963px, -33px, 14px, 13px, 1040px, 228px, '../images/spritesheet.png', 'filter-close', );
$filter-expand-name: 'filter-expand';
$filter-expand-x: 983px;
$filter-expand-y: 33px;
$filter-expand-offset-x: -983px;
$filter-expand-offset-y: -33px;
$filter-expand-width: 15px;
$filter-expand-height: 8px;
$filter-expand-total-width: 1040px;
$filter-expand-total-height: 228px;
$filter-expand-image: '../images/spritesheet.png';
$filter-expand: (983px, 33px, -983px, -33px, 15px, 8px, 1040px, 228px, '../images/spritesheet.png', 'filter-expand', );
$filter-unchecked-name: 'filter-unchecked';
$filter-unchecked-x: 858px;
$filter-unchecked-y: 33px;
$filter-unchecked-offset-x: -858px;
$filter-unchecked-offset-y: -33px;
$filter-unchecked-width: 24px;
$filter-unchecked-height: 24px;
$filter-unchecked-total-width: 1040px;
$filter-unchecked-total-height: 228px;
$filter-unchecked-image: '../images/spritesheet.png';
$filter-unchecked: (858px, 33px, -858px, -33px, 24px, 24px, 1040px, 228px, '../images/spritesheet.png', 'filter-unchecked', );
$gallery-carousel-active-indicator-name: 'gallery-carousel-active-indicator';
$gallery-carousel-active-indicator-x: 877px;
$gallery-carousel-active-indicator-y: 78px;
$gallery-carousel-active-indicator-offset-x: -877px;
$gallery-carousel-active-indicator-offset-y: -78px;
$gallery-carousel-active-indicator-width: 12px;
$gallery-carousel-active-indicator-height: 9px;
$gallery-carousel-active-indicator-total-width: 1040px;
$gallery-carousel-active-indicator-total-height: 228px;
$gallery-carousel-active-indicator-image: '../images/spritesheet.png';
$gallery-carousel-active-indicator: (877px, 78px, -877px, -78px, 12px, 9px, 1040px, 228px, '../images/spritesheet.png', 'gallery-carousel-active-indicator', );
$gallery-carousel-left-arrow-hover-name: 'gallery-carousel-left-arrow-hover';
$gallery-carousel-left-arrow-hover-x: 364px;
$gallery-carousel-left-arrow-hover-y: 143px;
$gallery-carousel-left-arrow-hover-offset-x: -364px;
$gallery-carousel-left-arrow-hover-offset-y: -143px;
$gallery-carousel-left-arrow-hover-width: 40px;
$gallery-carousel-left-arrow-hover-height: 70px;
$gallery-carousel-left-arrow-hover-total-width: 1040px;
$gallery-carousel-left-arrow-hover-total-height: 228px;
$gallery-carousel-left-arrow-hover-image: '../images/spritesheet.png';
$gallery-carousel-left-arrow-hover: (364px, 143px, -364px, -143px, 40px, 70px, 1040px, 228px, '../images/spritesheet.png', 'gallery-carousel-left-arrow-hover', );
$gallery-carousel-left-arrow-name: 'gallery-carousel-left-arrow';
$gallery-carousel-left-arrow-x: 502px;
$gallery-carousel-left-arrow-y: 143px;
$gallery-carousel-left-arrow-offset-x: -502px;
$gallery-carousel-left-arrow-offset-y: -143px;
$gallery-carousel-left-arrow-width: 40px;
$gallery-carousel-left-arrow-height: 70px;
$gallery-carousel-left-arrow-total-width: 1040px;
$gallery-carousel-left-arrow-total-height: 228px;
$gallery-carousel-left-arrow-image: '../images/spritesheet.png';
$gallery-carousel-left-arrow: (502px, 143px, -502px, -143px, 40px, 70px, 1040px, 228px, '../images/spritesheet.png', 'gallery-carousel-left-arrow', );
$gallery-carousel-right-arrow-hover-name: 'gallery-carousel-right-arrow-hover';
$gallery-carousel-right-arrow-hover-x: 456px;
$gallery-carousel-right-arrow-hover-y: 143px;
$gallery-carousel-right-arrow-hover-offset-x: -456px;
$gallery-carousel-right-arrow-hover-offset-y: -143px;
$gallery-carousel-right-arrow-hover-width: 40px;
$gallery-carousel-right-arrow-hover-height: 70px;
$gallery-carousel-right-arrow-hover-total-width: 1040px;
$gallery-carousel-right-arrow-hover-total-height: 228px;
$gallery-carousel-right-arrow-hover-image: '../images/spritesheet.png';
$gallery-carousel-right-arrow-hover: (456px, 143px, -456px, -143px, 40px, 70px, 1040px, 228px, '../images/spritesheet.png', 'gallery-carousel-right-arrow-hover', );
$gallery-carousel-right-arrow-name: 'gallery-carousel-right-arrow';
$gallery-carousel-right-arrow-x: 410px;
$gallery-carousel-right-arrow-y: 143px;
$gallery-carousel-right-arrow-offset-x: -410px;
$gallery-carousel-right-arrow-offset-y: -143px;
$gallery-carousel-right-arrow-width: 40px;
$gallery-carousel-right-arrow-height: 70px;
$gallery-carousel-right-arrow-total-width: 1040px;
$gallery-carousel-right-arrow-total-height: 228px;
$gallery-carousel-right-arrow-image: '../images/spritesheet.png';
$gallery-carousel-right-arrow: (410px, 143px, -410px, -143px, 40px, 70px, 1040px, 228px, '../images/spritesheet.png', 'gallery-carousel-right-arrow', );
$gallery-left-arrow-hover-name: 'gallery-left-arrow-hover';
$gallery-left-arrow-hover-x: 182px;
$gallery-left-arrow-hover-y: 143px;
$gallery-left-arrow-hover-offset-x: -182px;
$gallery-left-arrow-hover-offset-y: -143px;
$gallery-left-arrow-hover-width: 85px;
$gallery-left-arrow-hover-height: 85px;
$gallery-left-arrow-hover-total-width: 1040px;
$gallery-left-arrow-hover-total-height: 228px;
$gallery-left-arrow-hover-image: '../images/spritesheet.png';
$gallery-left-arrow-hover: (182px, 143px, -182px, -143px, 85px, 85px, 1040px, 228px, '../images/spritesheet.png', 'gallery-left-arrow-hover', );
$gallery-left-arrow-mini-hover-name: 'gallery-left-arrow-mini-hover';
$gallery-left-arrow-mini-hover-x: 459px;
$gallery-left-arrow-mini-hover-y: 78px;
$gallery-left-arrow-mini-hover-offset-x: -459px;
$gallery-left-arrow-mini-hover-offset-y: -78px;
$gallery-left-arrow-mini-hover-width: 45px;
$gallery-left-arrow-mini-hover-height: 45px;
$gallery-left-arrow-mini-hover-total-width: 1040px;
$gallery-left-arrow-mini-hover-total-height: 228px;
$gallery-left-arrow-mini-hover-image: '../images/spritesheet.png';
$gallery-left-arrow-mini-hover: (459px, 78px, -459px, -78px, 45px, 45px, 1040px, 228px, '../images/spritesheet.png', 'gallery-left-arrow-mini-hover', );
$gallery-left-arrow-mini-name: 'gallery-left-arrow-mini';
$gallery-left-arrow-mini-x: 612px;
$gallery-left-arrow-mini-y: 78px;
$gallery-left-arrow-mini-offset-x: -612px;
$gallery-left-arrow-mini-offset-y: -78px;
$gallery-left-arrow-mini-width: 45px;
$gallery-left-arrow-mini-height: 45px;
$gallery-left-arrow-mini-total-width: 1040px;
$gallery-left-arrow-mini-total-height: 228px;
$gallery-left-arrow-mini-image: '../images/spritesheet.png';
$gallery-left-arrow-mini: (612px, 78px, -612px, -78px, 45px, 45px, 1040px, 228px, '../images/spritesheet.png', 'gallery-left-arrow-mini', );
$gallery-left-arrow-name: 'gallery-left-arrow';
$gallery-left-arrow-x: 273px;
$gallery-left-arrow-y: 143px;
$gallery-left-arrow-offset-x: -273px;
$gallery-left-arrow-offset-y: -143px;
$gallery-left-arrow-width: 85px;
$gallery-left-arrow-height: 85px;
$gallery-left-arrow-total-width: 1040px;
$gallery-left-arrow-total-height: 228px;
$gallery-left-arrow-image: '../images/spritesheet.png';
$gallery-left-arrow: (273px, 143px, -273px, -143px, 85px, 85px, 1040px, 228px, '../images/spritesheet.png', 'gallery-left-arrow', );
$gallery-right-arrow-hover-name: 'gallery-right-arrow-hover';
$gallery-right-arrow-hover-x: 91px;
$gallery-right-arrow-hover-y: 143px;
$gallery-right-arrow-hover-offset-x: -91px;
$gallery-right-arrow-hover-offset-y: -143px;
$gallery-right-arrow-hover-width: 85px;
$gallery-right-arrow-hover-height: 85px;
$gallery-right-arrow-hover-total-width: 1040px;
$gallery-right-arrow-hover-total-height: 228px;
$gallery-right-arrow-hover-image: '../images/spritesheet.png';
$gallery-right-arrow-hover: (91px, 143px, -91px, -143px, 85px, 85px, 1040px, 228px, '../images/spritesheet.png', 'gallery-right-arrow-hover', );
$gallery-right-arrow-mini-hover-name: 'gallery-right-arrow-mini-hover';
$gallery-right-arrow-mini-hover-x: 510px;
$gallery-right-arrow-mini-hover-y: 78px;
$gallery-right-arrow-mini-hover-offset-x: -510px;
$gallery-right-arrow-mini-hover-offset-y: -78px;
$gallery-right-arrow-mini-hover-width: 45px;
$gallery-right-arrow-mini-hover-height: 45px;
$gallery-right-arrow-mini-hover-total-width: 1040px;
$gallery-right-arrow-mini-hover-total-height: 228px;
$gallery-right-arrow-mini-hover-image: '../images/spritesheet.png';
$gallery-right-arrow-mini-hover: (510px, 78px, -510px, -78px, 45px, 45px, 1040px, 228px, '../images/spritesheet.png', 'gallery-right-arrow-mini-hover', );
$gallery-right-arrow-mini-name: 'gallery-right-arrow-mini';
$gallery-right-arrow-mini-x: 561px;
$gallery-right-arrow-mini-y: 78px;
$gallery-right-arrow-mini-offset-x: -561px;
$gallery-right-arrow-mini-offset-y: -78px;
$gallery-right-arrow-mini-width: 45px;
$gallery-right-arrow-mini-height: 45px;
$gallery-right-arrow-mini-total-width: 1040px;
$gallery-right-arrow-mini-total-height: 228px;
$gallery-right-arrow-mini-image: '../images/spritesheet.png';
$gallery-right-arrow-mini: (561px, 78px, -561px, -78px, 45px, 45px, 1040px, 228px, '../images/spritesheet.png', 'gallery-right-arrow-mini', );
$gallery-right-arrow-name: 'gallery-right-arrow';
$gallery-right-arrow-x: 0px;
$gallery-right-arrow-y: 143px;
$gallery-right-arrow-offset-x: 0px;
$gallery-right-arrow-offset-y: -143px;
$gallery-right-arrow-width: 85px;
$gallery-right-arrow-height: 85px;
$gallery-right-arrow-total-width: 1040px;
$gallery-right-arrow-total-height: 228px;
$gallery-right-arrow-image: '../images/spritesheet.png';
$gallery-right-arrow: (0px, 143px, 0px, -143px, 85px, 85px, 1040px, 228px, '../images/spritesheet.png', 'gallery-right-arrow', );
$icon-arrow-name: 'icon-arrow';
$icon-arrow-x: 855px;
$icon-arrow-y: 107px;
$icon-arrow-offset-x: -855px;
$icon-arrow-offset-y: -107px;
$icon-arrow-width: 7px;
$icon-arrow-height: 13px;
$icon-arrow-total-width: 1040px;
$icon-arrow-total-height: 228px;
$icon-arrow-image: '../images/spritesheet.png';
$icon-arrow: (855px, 107px, -855px, -107px, 7px, 13px, 1040px, 228px, '../images/spritesheet.png', 'icon-arrow', );
$icon-calendar-name: 'icon-calendar';
$icon-calendar-x: 755px;
$icon-calendar-y: 33px;
$icon-calendar-offset-x: -755px;
$icon-calendar-offset-y: -33px;
$icon-calendar-width: 32px;
$icon-calendar-height: 34px;
$icon-calendar-total-width: 1040px;
$icon-calendar-total-height: 228px;
$icon-calendar-image: '../images/spritesheet.png';
$icon-calendar: (755px, 33px, -755px, -33px, 32px, 34px, 1040px, 228px, '../images/spritesheet.png', 'icon-calendar', );
$icon-capacity-name: 'icon-capacity';
$icon-capacity-x: 915px;
$icon-capacity-y: 33px;
$icon-capacity-offset-x: -915px;
$icon-capacity-offset-y: -33px;
$icon-capacity-width: 18px;
$icon-capacity-height: 19px;
$icon-capacity-total-width: 1040px;
$icon-capacity-total-height: 228px;
$icon-capacity-image: '../images/spritesheet.png';
$icon-capacity: (915px, 33px, -915px, -33px, 18px, 19px, 1040px, 228px, '../images/spritesheet.png', 'icon-capacity', );
$icon-date-name: 'icon-date';
$icon-date-x: 939px;
$icon-date-y: 33px;
$icon-date-offset-x: -939px;
$icon-date-offset-y: -33px;
$icon-date-width: 18px;
$icon-date-height: 18px;
$icon-date-total-width: 1040px;
$icon-date-total-height: 228px;
$icon-date-image: '../images/spritesheet.png';
$icon-date: (939px, 33px, -939px, -33px, 18px, 18px, 1040px, 228px, '../images/spritesheet.png', 'icon-date', );
$icon-facebook-name: 'icon-facebook';
$icon-facebook-x: 715px;
$icon-facebook-y: 33px;
$icon-facebook-offset-x: -715px;
$icon-facebook-offset-y: -33px;
$icon-facebook-width: 34px;
$icon-facebook-height: 34px;
$icon-facebook-total-width: 1040px;
$icon-facebook-total-height: 228px;
$icon-facebook-image: '../images/spritesheet.png';
$icon-facebook: (715px, 33px, -715px, -33px, 34px, 34px, 1040px, 228px, '../images/spritesheet.png', 'icon-facebook', );
$icon-location-name: 'icon-location';
$icon-location-x: 855px;
$icon-location-y: 78px;
$icon-location-offset-x: -855px;
$icon-location-offset-y: -78px;
$icon-location-width: 16px;
$icon-location-height: 23px;
$icon-location-total-width: 1040px;
$icon-location-total-height: 228px;
$icon-location-image: '../images/spritesheet.png';
$icon-location: (855px, 78px, -855px, -78px, 16px, 23px, 1040px, 228px, '../images/spritesheet.png', 'icon-location', );
$icon-mail-name: 'icon-mail';
$icon-mail-x: 793px;
$icon-mail-y: 33px;
$icon-mail-offset-x: -793px;
$icon-mail-offset-y: -33px;
$icon-mail-width: 29px;
$icon-mail-height: 29px;
$icon-mail-total-width: 1040px;
$icon-mail-total-height: 228px;
$icon-mail-image: '../images/spritesheet.png';
$icon-mail: (793px, 33px, -793px, -33px, 29px, 29px, 1040px, 228px, '../images/spritesheet.png', 'icon-mail', );
$icon-price-name: 'icon-price';
$icon-price-x: 888px;
$icon-price-y: 33px;
$icon-price-offset-x: -888px;
$icon-price-offset-y: -33px;
$icon-price-width: 21px;
$icon-price-height: 21px;
$icon-price-total-width: 1040px;
$icon-price-total-height: 228px;
$icon-price-image: '../images/spritesheet.png';
$icon-price: (888px, 33px, -888px, -33px, 21px, 21px, 1040px, 228px, '../images/spritesheet.png', 'icon-price', );
$icon-twitter-name: 'icon-twitter';
$icon-twitter-x: 669px;
$icon-twitter-y: 33px;
$icon-twitter-offset-x: -669px;
$icon-twitter-offset-y: -33px;
$icon-twitter-width: 40px;
$icon-twitter-height: 34px;
$icon-twitter-total-width: 1040px;
$icon-twitter-total-height: 228px;
$icon-twitter-image: '../images/spritesheet.png';
$icon-twitter: (669px, 33px, -669px, -33px, 40px, 34px, 1040px, 228px, '../images/spritesheet.png', 'icon-twitter', );
$logo-chase-name: 'logo-chase';
$logo-chase-x: 459px;
$logo-chase-y: 33px;
$logo-chase-offset-x: -459px;
$logo-chase-offset-y: -33px;
$logo-chase-width: 204px;
$logo-chase-height: 39px;
$logo-chase-total-width: 1040px;
$logo-chase-total-height: 228px;
$logo-chase-image: '../images/spritesheet.png';
$logo-chase: (459px, 33px, -459px, -33px, 204px, 39px, 1040px, 228px, '../images/spritesheet.png', 'logo-chase', );
$logo-inside-access-name: 'logo-inside-access';
$logo-inside-access-x: 459px;
$logo-inside-access-y: 0px;
$logo-inside-access-offset-x: -459px;
$logo-inside-access-offset-y: 0px;
$logo-inside-access-width: 581px;
$logo-inside-access-height: 27px;
$logo-inside-access-total-width: 1040px;
$logo-inside-access-total-height: 228px;
$logo-inside-access-image: '../images/spritesheet.png';
$logo-inside-access: (459px, 0px, -459px, 0px, 581px, 27px, 1040px, 228px, '../images/spritesheet.png', 'logo-inside-access', );
$logo-madison-sq-garden-name: 'logo-madison-sq-garden';
$logo-madison-sq-garden-x: 0px;
$logo-madison-sq-garden-y: 0px;
$logo-madison-sq-garden-offset-x: 0px;
$logo-madison-sq-garden-offset-y: 0px;
$logo-madison-sq-garden-width: 453px;
$logo-madison-sq-garden-height: 137px;
$logo-madison-sq-garden-total-width: 1040px;
$logo-madison-sq-garden-total-height: 228px;
$logo-madison-sq-garden-image: '../images/spritesheet.png';
$logo-madison-sq-garden: (0px, 0px, 0px, 0px, 453px, 137px, 1040px, 228px, '../images/spritesheet.png', 'logo-madison-sq-garden', );
$modal-close-name: 'modal-close';
$modal-close-x: 711px;
$modal-close-y: 78px;
$modal-close-offset-x: -711px;
$modal-close-offset-y: -78px;
$modal-close-width: 42px;
$modal-close-height: 42px;
$modal-close-total-width: 1040px;
$modal-close-total-height: 228px;
$modal-close-image: '../images/spritesheet.png';
$modal-close: (711px, 78px, -711px, -78px, 42px, 42px, 1040px, 228px, '../images/spritesheet.png', 'modal-close', );
$view-details-close-name: 'view-details-close';
$view-details-close-x: 663px;
$view-details-close-y: 78px;
$view-details-close-offset-x: -663px;
$view-details-close-offset-y: -78px;
$view-details-close-width: 42px;
$view-details-close-height: 42px;
$view-details-close-total-width: 1040px;
$view-details-close-total-height: 228px;
$view-details-close-image: '../images/spritesheet.png';
$view-details-close: (663px, 78px, -663px, -78px, 42px, 42px, 1040px, 228px, '../images/spritesheet.png', 'view-details-close', );
$view-details-expand-name: 'view-details-expand';
$view-details-expand-x: 807px;
$view-details-expand-y: 78px;
$view-details-expand-offset-x: -807px;
$view-details-expand-offset-y: -78px;
$view-details-expand-width: 42px;
$view-details-expand-height: 42px;
$view-details-expand-total-width: 1040px;
$view-details-expand-total-height: 228px;
$view-details-expand-image: '../images/spritesheet.png';
$view-details-expand: (807px, 78px, -807px, -78px, 42px, 42px, 1040px, 228px, '../images/spritesheet.png', 'view-details-expand', );
$view-details-name: 'view-details';
$view-details-x: 759px;
$view-details-y: 78px;
$view-details-offset-x: -759px;
$view-details-offset-y: -78px;
$view-details-width: 42px;
$view-details-height: 42px;
$view-details-total-width: 1040px;
$view-details-total-height: 228px;
$view-details-image: '../images/spritesheet.png';
$view-details: (759px, 78px, -759px, -78px, 42px, 42px, 1040px, 228px, '../images/spritesheet.png', 'view-details', );
$filter-checked-2x-name: 'filter-checked_2x';
$filter-checked-2x-x: 1656px;
$filter-checked-2x-y: 66px;
$filter-checked-2x-offset-x: -1656px;
$filter-checked-2x-offset-y: -66px;
$filter-checked-2x-width: 48px;
$filter-checked-2x-height: 48px;
$filter-checked-2x-total-width: 2080px;
$filter-checked-2x-total-height: 456px;
$filter-checked-2x-image: '../images/spritesheet-2x.png';
$filter-checked-2x: (1656px, 66px, -1656px, -66px, 48px, 48px, 2080px, 456px, '../images/spritesheet-2x.png', 'filter-checked_2x', );
$filter-close-2x-name: 'filter-close_2x';
$filter-close-2x-x: 1926px;
$filter-close-2x-y: 66px;
$filter-close-2x-offset-x: -1926px;
$filter-close-2x-offset-y: -66px;
$filter-close-2x-width: 28px;
$filter-close-2x-height: 26px;
$filter-close-2x-total-width: 2080px;
$filter-close-2x-total-height: 456px;
$filter-close-2x-image: '../images/spritesheet-2x.png';
$filter-close-2x: (1926px, 66px, -1926px, -66px, 28px, 26px, 2080px, 456px, '../images/spritesheet-2x.png', 'filter-close_2x', );
$filter-expand-2x-name: 'filter-expand_2x';
$filter-expand-2x-x: 1966px;
$filter-expand-2x-y: 66px;
$filter-expand-2x-offset-x: -1966px;
$filter-expand-2x-offset-y: -66px;
$filter-expand-2x-width: 30px;
$filter-expand-2x-height: 16px;
$filter-expand-2x-total-width: 2080px;
$filter-expand-2x-total-height: 456px;
$filter-expand-2x-image: '../images/spritesheet-2x.png';
$filter-expand-2x: (1966px, 66px, -1966px, -66px, 30px, 16px, 2080px, 456px, '../images/spritesheet-2x.png', 'filter-expand_2x', );
$filter-unchecked-2x-name: 'filter-unchecked_2x';
$filter-unchecked-2x-x: 1716px;
$filter-unchecked-2x-y: 66px;
$filter-unchecked-2x-offset-x: -1716px;
$filter-unchecked-2x-offset-y: -66px;
$filter-unchecked-2x-width: 48px;
$filter-unchecked-2x-height: 48px;
$filter-unchecked-2x-total-width: 2080px;
$filter-unchecked-2x-total-height: 456px;
$filter-unchecked-2x-image: '../images/spritesheet-2x.png';
$filter-unchecked-2x: (1716px, 66px, -1716px, -66px, 48px, 48px, 2080px, 456px, '../images/spritesheet-2x.png', 'filter-unchecked_2x', );
$gallery-carousel-active-indicator-2x-name: 'gallery-carousel-active-indicator_2x';
$gallery-carousel-active-indicator-2x-x: 1754px;
$gallery-carousel-active-indicator-2x-y: 156px;
$gallery-carousel-active-indicator-2x-offset-x: -1754px;
$gallery-carousel-active-indicator-2x-offset-y: -156px;
$gallery-carousel-active-indicator-2x-width: 24px;
$gallery-carousel-active-indicator-2x-height: 18px;
$gallery-carousel-active-indicator-2x-total-width: 2080px;
$gallery-carousel-active-indicator-2x-total-height: 456px;
$gallery-carousel-active-indicator-2x-image: '../images/spritesheet-2x.png';
$gallery-carousel-active-indicator-2x: (1754px, 156px, -1754px, -156px, 24px, 18px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-carousel-active-indicator_2x', );
$gallery-carousel-left-arrow-hover-2x-name: 'gallery-carousel-left-arrow-hover_2x';
$gallery-carousel-left-arrow-hover-2x-x: 728px;
$gallery-carousel-left-arrow-hover-2x-y: 286px;
$gallery-carousel-left-arrow-hover-2x-offset-x: -728px;
$gallery-carousel-left-arrow-hover-2x-offset-y: -286px;
$gallery-carousel-left-arrow-hover-2x-width: 80px;
$gallery-carousel-left-arrow-hover-2x-height: 140px;
$gallery-carousel-left-arrow-hover-2x-total-width: 2080px;
$gallery-carousel-left-arrow-hover-2x-total-height: 456px;
$gallery-carousel-left-arrow-hover-2x-image: '../images/spritesheet-2x.png';
$gallery-carousel-left-arrow-hover-2x: (728px, 286px, -728px, -286px, 80px, 140px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-carousel-left-arrow-hover_2x', );
$gallery-carousel-left-arrow-2x-name: 'gallery-carousel-left-arrow_2x';
$gallery-carousel-left-arrow-2x-x: 1004px;
$gallery-carousel-left-arrow-2x-y: 286px;
$gallery-carousel-left-arrow-2x-offset-x: -1004px;
$gallery-carousel-left-arrow-2x-offset-y: -286px;
$gallery-carousel-left-arrow-2x-width: 80px;
$gallery-carousel-left-arrow-2x-height: 140px;
$gallery-carousel-left-arrow-2x-total-width: 2080px;
$gallery-carousel-left-arrow-2x-total-height: 456px;
$gallery-carousel-left-arrow-2x-image: '../images/spritesheet-2x.png';
$gallery-carousel-left-arrow-2x: (1004px, 286px, -1004px, -286px, 80px, 140px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-carousel-left-arrow_2x', );
$gallery-carousel-right-arrow-hover-2x-name: 'gallery-carousel-right-arrow-hover_2x';
$gallery-carousel-right-arrow-hover-2x-x: 912px;
$gallery-carousel-right-arrow-hover-2x-y: 286px;
$gallery-carousel-right-arrow-hover-2x-offset-x: -912px;
$gallery-carousel-right-arrow-hover-2x-offset-y: -286px;
$gallery-carousel-right-arrow-hover-2x-width: 80px;
$gallery-carousel-right-arrow-hover-2x-height: 140px;
$gallery-carousel-right-arrow-hover-2x-total-width: 2080px;
$gallery-carousel-right-arrow-hover-2x-total-height: 456px;
$gallery-carousel-right-arrow-hover-2x-image: '../images/spritesheet-2x.png';
$gallery-carousel-right-arrow-hover-2x: (912px, 286px, -912px, -286px, 80px, 140px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-carousel-right-arrow-hover_2x', );
$gallery-carousel-right-arrow-2x-name: 'gallery-carousel-right-arrow_2x';
$gallery-carousel-right-arrow-2x-x: 820px;
$gallery-carousel-right-arrow-2x-y: 286px;
$gallery-carousel-right-arrow-2x-offset-x: -820px;
$gallery-carousel-right-arrow-2x-offset-y: -286px;
$gallery-carousel-right-arrow-2x-width: 80px;
$gallery-carousel-right-arrow-2x-height: 140px;
$gallery-carousel-right-arrow-2x-total-width: 2080px;
$gallery-carousel-right-arrow-2x-total-height: 456px;
$gallery-carousel-right-arrow-2x-image: '../images/spritesheet-2x.png';
$gallery-carousel-right-arrow-2x: (820px, 286px, -820px, -286px, 80px, 140px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-carousel-right-arrow_2x', );
$gallery-left-arrow-hover-2x-name: 'gallery-left-arrow-hover_2x';
$gallery-left-arrow-hover-2x-x: 364px;
$gallery-left-arrow-hover-2x-y: 286px;
$gallery-left-arrow-hover-2x-offset-x: -364px;
$gallery-left-arrow-hover-2x-offset-y: -286px;
$gallery-left-arrow-hover-2x-width: 170px;
$gallery-left-arrow-hover-2x-height: 170px;
$gallery-left-arrow-hover-2x-total-width: 2080px;
$gallery-left-arrow-hover-2x-total-height: 456px;
$gallery-left-arrow-hover-2x-image: '../images/spritesheet-2x.png';
$gallery-left-arrow-hover-2x: (364px, 286px, -364px, -286px, 170px, 170px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-left-arrow-hover_2x', );
$gallery-left-arrow-mini-hover-2x-name: 'gallery-left-arrow-mini-hover_2x';
$gallery-left-arrow-mini-hover-2x-x: 918px;
$gallery-left-arrow-mini-hover-2x-y: 156px;
$gallery-left-arrow-mini-hover-2x-offset-x: -918px;
$gallery-left-arrow-mini-hover-2x-offset-y: -156px;
$gallery-left-arrow-mini-hover-2x-width: 90px;
$gallery-left-arrow-mini-hover-2x-height: 90px;
$gallery-left-arrow-mini-hover-2x-total-width: 2080px;
$gallery-left-arrow-mini-hover-2x-total-height: 456px;
$gallery-left-arrow-mini-hover-2x-image: '../images/spritesheet-2x.png';
$gallery-left-arrow-mini-hover-2x: (918px, 156px, -918px, -156px, 90px, 90px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-left-arrow-mini-hover_2x', );
$gallery-left-arrow-mini-2x-name: 'gallery-left-arrow-mini_2x';
$gallery-left-arrow-mini-2x-x: 1224px;
$gallery-left-arrow-mini-2x-y: 156px;
$gallery-left-arrow-mini-2x-offset-x: -1224px;
$gallery-left-arrow-mini-2x-offset-y: -156px;
$gallery-left-arrow-mini-2x-width: 90px;
$gallery-left-arrow-mini-2x-height: 90px;
$gallery-left-arrow-mini-2x-total-width: 2080px;
$gallery-left-arrow-mini-2x-total-height: 456px;
$gallery-left-arrow-mini-2x-image: '../images/spritesheet-2x.png';
$gallery-left-arrow-mini-2x: (1224px, 156px, -1224px, -156px, 90px, 90px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-left-arrow-mini_2x', );
$gallery-left-arrow-2x-name: 'gallery-left-arrow_2x';
$gallery-left-arrow-2x-x: 546px;
$gallery-left-arrow-2x-y: 286px;
$gallery-left-arrow-2x-offset-x: -546px;
$gallery-left-arrow-2x-offset-y: -286px;
$gallery-left-arrow-2x-width: 170px;
$gallery-left-arrow-2x-height: 170px;
$gallery-left-arrow-2x-total-width: 2080px;
$gallery-left-arrow-2x-total-height: 456px;
$gallery-left-arrow-2x-image: '../images/spritesheet-2x.png';
$gallery-left-arrow-2x: (546px, 286px, -546px, -286px, 170px, 170px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-left-arrow_2x', );
$gallery-right-arrow-hover-2x-name: 'gallery-right-arrow-hover_2x';
$gallery-right-arrow-hover-2x-x: 182px;
$gallery-right-arrow-hover-2x-y: 286px;
$gallery-right-arrow-hover-2x-offset-x: -182px;
$gallery-right-arrow-hover-2x-offset-y: -286px;
$gallery-right-arrow-hover-2x-width: 170px;
$gallery-right-arrow-hover-2x-height: 170px;
$gallery-right-arrow-hover-2x-total-width: 2080px;
$gallery-right-arrow-hover-2x-total-height: 456px;
$gallery-right-arrow-hover-2x-image: '../images/spritesheet-2x.png';
$gallery-right-arrow-hover-2x: (182px, 286px, -182px, -286px, 170px, 170px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-right-arrow-hover_2x', );
$gallery-right-arrow-mini-hover-2x-name: 'gallery-right-arrow-mini-hover_2x';
$gallery-right-arrow-mini-hover-2x-x: 1020px;
$gallery-right-arrow-mini-hover-2x-y: 156px;
$gallery-right-arrow-mini-hover-2x-offset-x: -1020px;
$gallery-right-arrow-mini-hover-2x-offset-y: -156px;
$gallery-right-arrow-mini-hover-2x-width: 90px;
$gallery-right-arrow-mini-hover-2x-height: 90px;
$gallery-right-arrow-mini-hover-2x-total-width: 2080px;
$gallery-right-arrow-mini-hover-2x-total-height: 456px;
$gallery-right-arrow-mini-hover-2x-image: '../images/spritesheet-2x.png';
$gallery-right-arrow-mini-hover-2x: (1020px, 156px, -1020px, -156px, 90px, 90px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-right-arrow-mini-hover_2x', );
$gallery-right-arrow-mini-2x-name: 'gallery-right-arrow-mini_2x';
$gallery-right-arrow-mini-2x-x: 1122px;
$gallery-right-arrow-mini-2x-y: 156px;
$gallery-right-arrow-mini-2x-offset-x: -1122px;
$gallery-right-arrow-mini-2x-offset-y: -156px;
$gallery-right-arrow-mini-2x-width: 90px;
$gallery-right-arrow-mini-2x-height: 90px;
$gallery-right-arrow-mini-2x-total-width: 2080px;
$gallery-right-arrow-mini-2x-total-height: 456px;
$gallery-right-arrow-mini-2x-image: '../images/spritesheet-2x.png';
$gallery-right-arrow-mini-2x: (1122px, 156px, -1122px, -156px, 90px, 90px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-right-arrow-mini_2x', );
$gallery-right-arrow-2x-name: 'gallery-right-arrow_2x';
$gallery-right-arrow-2x-x: 0px;
$gallery-right-arrow-2x-y: 286px;
$gallery-right-arrow-2x-offset-x: 0px;
$gallery-right-arrow-2x-offset-y: -286px;
$gallery-right-arrow-2x-width: 170px;
$gallery-right-arrow-2x-height: 170px;
$gallery-right-arrow-2x-total-width: 2080px;
$gallery-right-arrow-2x-total-height: 456px;
$gallery-right-arrow-2x-image: '../images/spritesheet-2x.png';
$gallery-right-arrow-2x: (0px, 286px, 0px, -286px, 170px, 170px, 2080px, 456px, '../images/spritesheet-2x.png', 'gallery-right-arrow_2x', );
$icon-arrow-2x-name: 'icon-arrow_2x';
$icon-arrow-2x-x: 1710px;
$icon-arrow-2x-y: 214px;
$icon-arrow-2x-offset-x: -1710px;
$icon-arrow-2x-offset-y: -214px;
$icon-arrow-2x-width: 14px;
$icon-arrow-2x-height: 26px;
$icon-arrow-2x-total-width: 2080px;
$icon-arrow-2x-total-height: 456px;
$icon-arrow-2x-image: '../images/spritesheet-2x.png';
$icon-arrow-2x: (1710px, 214px, -1710px, -214px, 14px, 26px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-arrow_2x', );
$icon-calendar-2x-name: 'icon-calendar_2x';
$icon-calendar-2x-x: 1510px;
$icon-calendar-2x-y: 66px;
$icon-calendar-2x-offset-x: -1510px;
$icon-calendar-2x-offset-y: -66px;
$icon-calendar-2x-width: 64px;
$icon-calendar-2x-height: 68px;
$icon-calendar-2x-total-width: 2080px;
$icon-calendar-2x-total-height: 456px;
$icon-calendar-2x-image: '../images/spritesheet-2x.png';
$icon-calendar-2x: (1510px, 66px, -1510px, -66px, 64px, 68px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-calendar_2x', );
$icon-capacity-2x-name: 'icon-capacity_2x';
$icon-capacity-2x-x: 1830px;
$icon-capacity-2x-y: 66px;
$icon-capacity-2x-offset-x: -1830px;
$icon-capacity-2x-offset-y: -66px;
$icon-capacity-2x-width: 36px;
$icon-capacity-2x-height: 38px;
$icon-capacity-2x-total-width: 2080px;
$icon-capacity-2x-total-height: 456px;
$icon-capacity-2x-image: '../images/spritesheet-2x.png';
$icon-capacity-2x: (1830px, 66px, -1830px, -66px, 36px, 38px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-capacity_2x', );
$icon-date-2x-name: 'icon-date_2x';
$icon-date-2x-x: 1878px;
$icon-date-2x-y: 66px;
$icon-date-2x-offset-x: -1878px;
$icon-date-2x-offset-y: -66px;
$icon-date-2x-width: 36px;
$icon-date-2x-height: 36px;
$icon-date-2x-total-width: 2080px;
$icon-date-2x-total-height: 456px;
$icon-date-2x-image: '../images/spritesheet-2x.png';
$icon-date-2x: (1878px, 66px, -1878px, -66px, 36px, 36px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-date_2x', );
$icon-facebook-2x-name: 'icon-facebook_2x';
$icon-facebook-2x-x: 1430px;
$icon-facebook-2x-y: 66px;
$icon-facebook-2x-offset-x: -1430px;
$icon-facebook-2x-offset-y: -66px;
$icon-facebook-2x-width: 68px;
$icon-facebook-2x-height: 68px;
$icon-facebook-2x-total-width: 2080px;
$icon-facebook-2x-total-height: 456px;
$icon-facebook-2x-image: '../images/spritesheet-2x.png';
$icon-facebook-2x: (1430px, 66px, -1430px, -66px, 68px, 68px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-facebook_2x', );
$icon-location-2x-name: 'icon-location_2x';
$icon-location-2x-x: 1710px;
$icon-location-2x-y: 156px;
$icon-location-2x-offset-x: -1710px;
$icon-location-2x-offset-y: -156px;
$icon-location-2x-width: 32px;
$icon-location-2x-height: 46px;
$icon-location-2x-total-width: 2080px;
$icon-location-2x-total-height: 456px;
$icon-location-2x-image: '../images/spritesheet-2x.png';
$icon-location-2x: (1710px, 156px, -1710px, -156px, 32px, 46px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-location_2x', );
$icon-mail-2x-name: 'icon-mail_2x';
$icon-mail-2x-x: 1586px;
$icon-mail-2x-y: 66px;
$icon-mail-2x-offset-x: -1586px;
$icon-mail-2x-offset-y: -66px;
$icon-mail-2x-width: 58px;
$icon-mail-2x-height: 58px;
$icon-mail-2x-total-width: 2080px;
$icon-mail-2x-total-height: 456px;
$icon-mail-2x-image: '../images/spritesheet-2x.png';
$icon-mail-2x: (1586px, 66px, -1586px, -66px, 58px, 58px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-mail_2x', );
$icon-price-2x-name: 'icon-price_2x';
$icon-price-2x-x: 1776px;
$icon-price-2x-y: 66px;
$icon-price-2x-offset-x: -1776px;
$icon-price-2x-offset-y: -66px;
$icon-price-2x-width: 42px;
$icon-price-2x-height: 42px;
$icon-price-2x-total-width: 2080px;
$icon-price-2x-total-height: 456px;
$icon-price-2x-image: '../images/spritesheet-2x.png';
$icon-price-2x: (1776px, 66px, -1776px, -66px, 42px, 42px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-price_2x', );
$icon-twitter-2x-name: 'icon-twitter_2x';
$icon-twitter-2x-x: 1338px;
$icon-twitter-2x-y: 66px;
$icon-twitter-2x-offset-x: -1338px;
$icon-twitter-2x-offset-y: -66px;
$icon-twitter-2x-width: 80px;
$icon-twitter-2x-height: 68px;
$icon-twitter-2x-total-width: 2080px;
$icon-twitter-2x-total-height: 456px;
$icon-twitter-2x-image: '../images/spritesheet-2x.png';
$icon-twitter-2x: (1338px, 66px, -1338px, -66px, 80px, 68px, 2080px, 456px, '../images/spritesheet-2x.png', 'icon-twitter_2x', );
$logo-chase-2x-name: 'logo-chase_2x';
$logo-chase-2x-x: 918px;
$logo-chase-2x-y: 66px;
$logo-chase-2x-offset-x: -918px;
$logo-chase-2x-offset-y: -66px;
$logo-chase-2x-width: 408px;
$logo-chase-2x-height: 78px;
$logo-chase-2x-total-width: 2080px;
$logo-chase-2x-total-height: 456px;
$logo-chase-2x-image: '../images/spritesheet-2x.png';
$logo-chase-2x: (918px, 66px, -918px, -66px, 408px, 78px, 2080px, 456px, '../images/spritesheet-2x.png', 'logo-chase_2x', );
$logo-inside-access-2x-name: 'logo-inside-access_2x';
$logo-inside-access-2x-x: 918px;
$logo-inside-access-2x-y: 0px;
$logo-inside-access-2x-offset-x: -918px;
$logo-inside-access-2x-offset-y: 0px;
$logo-inside-access-2x-width: 1162px;
$logo-inside-access-2x-height: 54px;
$logo-inside-access-2x-total-width: 2080px;
$logo-inside-access-2x-total-height: 456px;
$logo-inside-access-2x-image: '../images/spritesheet-2x.png';
$logo-inside-access-2x: (918px, 0px, -918px, 0px, 1162px, 54px, 2080px, 456px, '../images/spritesheet-2x.png', 'logo-inside-access_2x', );
$logo-madison-sq-garden-2x-name: 'logo-madison-sq-garden_2x';
$logo-madison-sq-garden-2x-x: 0px;
$logo-madison-sq-garden-2x-y: 0px;
$logo-madison-sq-garden-2x-offset-x: 0px;
$logo-madison-sq-garden-2x-offset-y: 0px;
$logo-madison-sq-garden-2x-width: 906px;
$logo-madison-sq-garden-2x-height: 274px;
$logo-madison-sq-garden-2x-total-width: 2080px;
$logo-madison-sq-garden-2x-total-height: 456px;
$logo-madison-sq-garden-2x-image: '../images/spritesheet-2x.png';
$logo-madison-sq-garden-2x: (0px, 0px, 0px, 0px, 906px, 274px, 2080px, 456px, '../images/spritesheet-2x.png', 'logo-madison-sq-garden_2x', );
$modal-close-2x-name: 'modal-close_2x';
$modal-close-2x-x: 1422px;
$modal-close-2x-y: 156px;
$modal-close-2x-offset-x: -1422px;
$modal-close-2x-offset-y: -156px;
$modal-close-2x-width: 84px;
$modal-close-2x-height: 84px;
$modal-close-2x-total-width: 2080px;
$modal-close-2x-total-height: 456px;
$modal-close-2x-image: '../images/spritesheet-2x.png';
$modal-close-2x: (1422px, 156px, -1422px, -156px, 84px, 84px, 2080px, 456px, '../images/spritesheet-2x.png', 'modal-close_2x', );
$view-details-close-2x-name: 'view-details-close_2x';
$view-details-close-2x-x: 1326px;
$view-details-close-2x-y: 156px;
$view-details-close-2x-offset-x: -1326px;
$view-details-close-2x-offset-y: -156px;
$view-details-close-2x-width: 84px;
$view-details-close-2x-height: 84px;
$view-details-close-2x-total-width: 2080px;
$view-details-close-2x-total-height: 456px;
$view-details-close-2x-image: '../images/spritesheet-2x.png';
$view-details-close-2x: (1326px, 156px, -1326px, -156px, 84px, 84px, 2080px, 456px, '../images/spritesheet-2x.png', 'view-details-close_2x', );
$view-details-expand-2x-name: 'view-details-expand_2x';
$view-details-expand-2x-x: 1614px;
$view-details-expand-2x-y: 156px;
$view-details-expand-2x-offset-x: -1614px;
$view-details-expand-2x-offset-y: -156px;
$view-details-expand-2x-width: 84px;
$view-details-expand-2x-height: 84px;
$view-details-expand-2x-total-width: 2080px;
$view-details-expand-2x-total-height: 456px;
$view-details-expand-2x-image: '../images/spritesheet-2x.png';
$view-details-expand-2x: (1614px, 156px, -1614px, -156px, 84px, 84px, 2080px, 456px, '../images/spritesheet-2x.png', 'view-details-expand_2x', );
$view-details-2x-name: 'view-details_2x';
$view-details-2x-x: 1518px;
$view-details-2x-y: 156px;
$view-details-2x-offset-x: -1518px;
$view-details-2x-offset-y: -156px;
$view-details-2x-width: 84px;
$view-details-2x-height: 84px;
$view-details-2x-total-width: 2080px;
$view-details-2x-total-height: 456px;
$view-details-2x-image: '../images/spritesheet-2x.png';
$view-details-2x: (1518px, 156px, -1518px, -156px, 84px, 84px, 2080px, 456px, '../images/spritesheet-2x.png', 'view-details_2x', );
$spritesheet-width: 1040px;
$spritesheet-height: 228px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($filter-checked, $filter-close, $filter-expand, $filter-unchecked, $gallery-carousel-active-indicator, $gallery-carousel-left-arrow-hover, $gallery-carousel-left-arrow, $gallery-carousel-right-arrow-hover, $gallery-carousel-right-arrow, $gallery-left-arrow-hover, $gallery-left-arrow-mini-hover, $gallery-left-arrow-mini, $gallery-left-arrow, $gallery-right-arrow-hover, $gallery-right-arrow-mini-hover, $gallery-right-arrow-mini, $gallery-right-arrow, $icon-arrow, $icon-calendar, $icon-capacity, $icon-date, $icon-facebook, $icon-location, $icon-mail, $icon-price, $icon-twitter, $logo-chase, $logo-inside-access, $logo-madison-sq-garden, $modal-close, $view-details-close, $view-details-expand, $view-details, );
$spritesheet: (1040px, 228px, '../images/spritesheet.png', $spritesheet-sprites, );
$retina-spritesheet-width: 2080px;
$retina-spritesheet-height: 456px;
$retina-spritesheet-image: '../images/spritesheet-2x.png';
$retina-spritesheet-sprites: ($filter-checked-2x, $filter-close-2x, $filter-expand-2x, $filter-unchecked-2x, $gallery-carousel-active-indicator-2x, $gallery-carousel-left-arrow-hover-2x, $gallery-carousel-left-arrow-2x, $gallery-carousel-right-arrow-hover-2x, $gallery-carousel-right-arrow-2x, $gallery-left-arrow-hover-2x, $gallery-left-arrow-mini-hover-2x, $gallery-left-arrow-mini-2x, $gallery-left-arrow-2x, $gallery-right-arrow-hover-2x, $gallery-right-arrow-mini-hover-2x, $gallery-right-arrow-mini-2x, $gallery-right-arrow-2x, $icon-arrow-2x, $icon-calendar-2x, $icon-capacity-2x, $icon-date-2x, $icon-facebook-2x, $icon-location-2x, $icon-mail-2x, $icon-price-2x, $icon-twitter-2x, $logo-chase-2x, $logo-inside-access-2x, $logo-madison-sq-garden-2x, $modal-close-2x, $view-details-close-2x, $view-details-expand-2x, $view-details-2x, );
$retina-spritesheet: (2080px, 456px, '../images/spritesheet-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$filter-checked-group-name: 'filter-checked';
$filter-checked-group: ('filter-checked', $filter-checked, $filter-checked-2x, );
$filter-close-group-name: 'filter-close';
$filter-close-group: ('filter-close', $filter-close, $filter-close-2x, );
$filter-expand-group-name: 'filter-expand';
$filter-expand-group: ('filter-expand', $filter-expand, $filter-expand-2x, );
$filter-unchecked-group-name: 'filter-unchecked';
$filter-unchecked-group: ('filter-unchecked', $filter-unchecked, $filter-unchecked-2x, );
$gallery-carousel-active-indicator-group-name: 'gallery-carousel-active-indicator';
$gallery-carousel-active-indicator-group: ('gallery-carousel-active-indicator', $gallery-carousel-active-indicator, $gallery-carousel-active-indicator-2x, );
$gallery-carousel-left-arrow-hover-group-name: 'gallery-carousel-left-arrow-hover';
$gallery-carousel-left-arrow-hover-group: ('gallery-carousel-left-arrow-hover', $gallery-carousel-left-arrow-hover, $gallery-carousel-left-arrow-hover-2x, );
$gallery-carousel-left-arrow-group-name: 'gallery-carousel-left-arrow';
$gallery-carousel-left-arrow-group: ('gallery-carousel-left-arrow', $gallery-carousel-left-arrow, $gallery-carousel-left-arrow-2x, );
$gallery-carousel-right-arrow-hover-group-name: 'gallery-carousel-right-arrow-hover';
$gallery-carousel-right-arrow-hover-group: ('gallery-carousel-right-arrow-hover', $gallery-carousel-right-arrow-hover, $gallery-carousel-right-arrow-hover-2x, );
$gallery-carousel-right-arrow-group-name: 'gallery-carousel-right-arrow';
$gallery-carousel-right-arrow-group: ('gallery-carousel-right-arrow', $gallery-carousel-right-arrow, $gallery-carousel-right-arrow-2x, );
$gallery-left-arrow-hover-group-name: 'gallery-left-arrow-hover';
$gallery-left-arrow-hover-group: ('gallery-left-arrow-hover', $gallery-left-arrow-hover, $gallery-left-arrow-hover-2x, );
$gallery-left-arrow-mini-hover-group-name: 'gallery-left-arrow-mini-hover';
$gallery-left-arrow-mini-hover-group: ('gallery-left-arrow-mini-hover', $gallery-left-arrow-mini-hover, $gallery-left-arrow-mini-hover-2x, );
$gallery-left-arrow-mini-group-name: 'gallery-left-arrow-mini';
$gallery-left-arrow-mini-group: ('gallery-left-arrow-mini', $gallery-left-arrow-mini, $gallery-left-arrow-mini-2x, );
$gallery-left-arrow-group-name: 'gallery-left-arrow';
$gallery-left-arrow-group: ('gallery-left-arrow', $gallery-left-arrow, $gallery-left-arrow-2x, );
$gallery-right-arrow-hover-group-name: 'gallery-right-arrow-hover';
$gallery-right-arrow-hover-group: ('gallery-right-arrow-hover', $gallery-right-arrow-hover, $gallery-right-arrow-hover-2x, );
$gallery-right-arrow-mini-hover-group-name: 'gallery-right-arrow-mini-hover';
$gallery-right-arrow-mini-hover-group: ('gallery-right-arrow-mini-hover', $gallery-right-arrow-mini-hover, $gallery-right-arrow-mini-hover-2x, );
$gallery-right-arrow-mini-group-name: 'gallery-right-arrow-mini';
$gallery-right-arrow-mini-group: ('gallery-right-arrow-mini', $gallery-right-arrow-mini, $gallery-right-arrow-mini-2x, );
$gallery-right-arrow-group-name: 'gallery-right-arrow';
$gallery-right-arrow-group: ('gallery-right-arrow', $gallery-right-arrow, $gallery-right-arrow-2x, );
$icon-arrow-group-name: 'icon-arrow';
$icon-arrow-group: ('icon-arrow', $icon-arrow, $icon-arrow-2x, );
$icon-calendar-group-name: 'icon-calendar';
$icon-calendar-group: ('icon-calendar', $icon-calendar, $icon-calendar-2x, );
$icon-capacity-group-name: 'icon-capacity';
$icon-capacity-group: ('icon-capacity', $icon-capacity, $icon-capacity-2x, );
$icon-date-group-name: 'icon-date';
$icon-date-group: ('icon-date', $icon-date, $icon-date-2x, );
$icon-facebook-group-name: 'icon-facebook';
$icon-facebook-group: ('icon-facebook', $icon-facebook, $icon-facebook-2x, );
$icon-location-group-name: 'icon-location';
$icon-location-group: ('icon-location', $icon-location, $icon-location-2x, );
$icon-mail-group-name: 'icon-mail';
$icon-mail-group: ('icon-mail', $icon-mail, $icon-mail-2x, );
$icon-price-group-name: 'icon-price';
$icon-price-group: ('icon-price', $icon-price, $icon-price-2x, );
$icon-twitter-group-name: 'icon-twitter';
$icon-twitter-group: ('icon-twitter', $icon-twitter, $icon-twitter-2x, );
$logo-chase-group-name: 'logo-chase';
$logo-chase-group: ('logo-chase', $logo-chase, $logo-chase-2x, );
$logo-inside-access-group-name: 'logo-inside-access';
$logo-inside-access-group: ('logo-inside-access', $logo-inside-access, $logo-inside-access-2x, );
$logo-madison-sq-garden-group-name: 'logo-madison-sq-garden';
$logo-madison-sq-garden-group: ('logo-madison-sq-garden', $logo-madison-sq-garden, $logo-madison-sq-garden-2x, );
$modal-close-group-name: 'modal-close';
$modal-close-group: ('modal-close', $modal-close, $modal-close-2x, );
$view-details-close-group-name: 'view-details-close';
$view-details-close-group: ('view-details-close', $view-details-close, $view-details-close-2x, );
$view-details-expand-group-name: 'view-details-expand';
$view-details-expand-group: ('view-details-expand', $view-details-expand, $view-details-expand-2x, );
$view-details-group-name: 'view-details';
$view-details-group: ('view-details', $view-details, $view-details-2x, );
$retina-groups: ($filter-checked-group, $filter-close-group, $filter-expand-group, $filter-unchecked-group, $gallery-carousel-active-indicator-group, $gallery-carousel-left-arrow-hover-group, $gallery-carousel-left-arrow-group, $gallery-carousel-right-arrow-hover-group, $gallery-carousel-right-arrow-group, $gallery-left-arrow-hover-group, $gallery-left-arrow-mini-hover-group, $gallery-left-arrow-mini-group, $gallery-left-arrow-group, $gallery-right-arrow-hover-group, $gallery-right-arrow-mini-hover-group, $gallery-right-arrow-mini-group, $gallery-right-arrow-group, $icon-arrow-group, $icon-calendar-group, $icon-capacity-group, $icon-date-group, $icon-facebook-group, $icon-location-group, $icon-mail-group, $icon-price-group, $icon-twitter-group, $logo-chase-group, $logo-inside-access-group, $logo-madison-sq-garden-group, $modal-close-group, $view-details-close-group, $view-details-expand-group, $view-details-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
