@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "_bourbon/_bourbon";
@import "_neat/_neat";
@import "base"; 
@import "bootstrap";   
@import "sass-easing";
@import "reboundgen/glideInDown";
@import "reboundgen/glideInUp";
@import "reboundgen/floating";

@font-face {
  font-family: 'Phosphate';
  src: url('../fonts/phosphate.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/phosphate.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/phosphate.ttf')  format('truetype'), /* Safari, Android, iOS */
}


$sm: 480px;
$md: 768px;
$lg: 1200px;

// Colors
$white: #ffffff;
$black: #000000;
$red: #d71a21;

$gray-1: #232323;
$gray-2: #484848;
$gray-3: #666666;
$gray-4: #ececec;
$gray-5: #bfbfbf;


// Fonts
$lato: 'Lato', sans-serif;
$phosphate: 'Phosphate', sans-serif;



// Global  
//////////////////////

* {
  margin:0px;
  padding:0px;
  outline: 0px;
  border: 0px;
}

body, html {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 50px; 
  font-family: $lato;
  font-size: 10px;
  line-height: 1.5rem;
  color: $gray-3;
}

h1 { 
  margin-top: 0; 
  position: relative;
  z-index: 1;
}

h2 {
  color: $black;
  font-family: $phosphate;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 1.2em;
  margin-bottom: 30px;
  text-transform: uppercase;
  span {
    display: block;
    font-family: $lato;
    font-size: 0.6em;
    font-weight: 700;
    line-height: 1.3em;
  }
  @media screen and ( max-width: $md ) {
    font-size: 40px;
  }
}

h3 {
  color: $white;
  font-family: $lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p, a, button, li, input, textarea, figure, blockquote {
  color: $gray-1;
  font-size: 15px;
  line-height: 2em;
  letter-spacing: 0.025em;
}

hr {
  border-top: 4px solid $red;
  margin-bottom: 40px;
  width: 50px;
  @media screen and ( max-width: $md ) {
    margin: 20px auto;
  }
}

blockquote {
  color: $black;
  font-weight: 600;
  letter-spacing: 0.2rem;
}



// Forms
//////////////////////

.form-control {
  border: 2px solid $black;
}



// Links + Buttons
//////////////////////

a, button { transition: all 0.3s ease; }

a.link {
  color: $black;
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  &:hover, &:focus, &:active {
    color: $red;
    text-decoration: underline;
  }
}

a.text-link {
  color: $red; 
  text-decoration: underline;
  &:hover, &:focus, &:active {
    color: darken( $red, 10% );
    text-decoration: none;
  }
}

.btn {
  background: $red;
  border: 3px solid $red;
  color: $white;
  font-family: $phosphate;
  font-size: 3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-top: 20px;
  max-width: 250px;
  width: 100%;
}

.btn.btn-primary {
  &:hover, &:focus, &:active {
    background: rgba( $white, 0.3 );
    border: 3px solid $red;
    color: $red;
  }
}

.btn.btn-secondary {
  &:hover, &:focus, &:active {
    background: rgba( $red, 0.3 );
    border: 3px solid $white;
    color: $white;
  }
}

button.down-arrow {
  // make bouncy down-arrow on hover
}



// Decorations - triangle backgrounds, borders, bullets, etc.
//////////////////////

.bg-triangle-1 {
  background: url(../images/bg-triangle-1.png) top center no-repeat;
  background-size: 100% 100%;
}

.bg-triangle-2 {
  background: url(../images/bg-triangle-2.png) top center no-repeat;
  background-size: 100% 100%;
}

.border-triangle {
  background: url(../images/border-triangle-black.png) top left repeat;
  background-size: contain;
  height: 45px;
  position: absolute;
  width: 100%;
}

.border-stripe {
  background: url(../images/border-stripe.png) top left repeat;
  background-size: contain;
  height: 45px;
}

.border-side-triangle {
  background: url(../images/border-triangle-white.png) top left repeat;
  background-size: contain;
  height: 100%;
  max-width: 115px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.bullet {
  color: $red;
  margin-right: 10px;
}

.img-shell { 
  margin: 0 auto 50px;
  max-width: 500px;
  width: 75%;
  @media screen and ( max-width: $md ) { 
    margin: 0 auto 35px;
    width: 75vw;
  }
}



// Navbar  
//////////////////////

nav { 
  position: relative;
  width: 100vw;
  // Hamburger menu
  @media screen and ( max-width: $md ) {
    ul {
      float: right;
      text-align: right;
      width: 125px;
    }
  }

  .container-fluid { max-width: 1170px; }
}

.navbar-inverse {
  background-color: $black;
  box-shadow: 0 0 10px 0 rgba( $black, .5 );
  font-weight: 700;

  .navbar-nav > li {
    > a {
      border-bottom: 3px solid $black;  
      color: rgba( $white, 0.5 );    
      font-size: 13px;
      margin: 15px 15px 10px;
      padding: 5px;
      i { font-size: 20px; }
      @media screen and ( max-width: $md ) {
        font-size: 16px;
      }
    }
    &.active a { border-bottom: 3px solid $white; }
  }
}



.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: $red;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
  margin-top: 15px;
  padding: 0;
  @media screen and ( max-width: $md ) {
    margin-left: 15px;
  }
}

.navbar-toggle {
  margin: 15px;
}

#logo {
  transition: width 0.3s ease;
  width: 33vw;
  @media screen and ( max-width: $sm ) {
    width: 45vw;
  }

  &.shrink {
    transition: width 0.3s ease;
    width: 150px;
    @media screen and ( max-width: $sm ) {
      width: 70px;
    }
  }
}



// Section - Intro  
//////////////////////

section.intro {
  background: url(../images/bg-1.jpg);
  background-position: -300px 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 15vh 0 3vh;
  @media screen and ( max-width: $md ) {
    background-position: -700px 0;
    height: initial;
    text-align: center;
  }
  @media screen and ( max-width: $sm ) {
    box-shadow: inset 0 0 0 1000px rgba( $white, 0.8 );
  }

  h2 { 
    font-size: 30px;
    margin-bottom: 5px;
    @media screen and ( max-width: $md ) {
      text-align: right;
    }
  }

  p a { 
    display: block;
    margin: 20px 0; 
  }  

  .btn-donate {
    @media screen and ( max-width: $md ) {
      margin-bottom: 5px;
    }
  }
  .btn-book {
    @media screen and ( max-width: $md ) {
      margin-bottom: 30px;
    }
  }
}



// Section - About  
//////////////////////

section.about {
  background: url(../images/bg-7.jpg) top center no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  @media screen and ( max-width: $md ) {
    padding-bottom: 50px;
  }

  // bootstrap panel
  .panel-default {
    border-color: $black;
    > .panel-heading {
      background-color: $black;
      color: $white;
    }
  }
  .panel-group {
    margin: 0 auto 20px;
    max-width: 700px;
    .panel {
      border-radius: 5px;
    }
  }
  .panel-body {
    padding: 30px 15px;
  }
  .panel-title { // toggle +/- on expand/collapse
    > button:before {
      float: right !important;
      font-family: FontAwesome;
      content:"\f068";
      padding-right: 5px;
    }
    > button.collapsed:before {
        float: right !important;
        content:"\f067";
    }
    > button:hover, 
    > button:active, 
    > button:focus  {
        text-decoration:none;
    }
  }
  

  .content {
    margin: 0 auto;
    max-width: 600px;
  }

  h2 { text-align: center; }
  .img-bell { 
    margin: 30px auto 0; 
    max-width: 75px;
  }

  h3 button { 
    background-color: $black;
    color: $white;
    display: block;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 0.2em;
    line-height: 1.3em;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    text-transform: uppercase;
    @media screen and ( max-width: $sm ) {
      font-size: 5vw;
    }
  }

  p { 
    margin-bottom: 20px;
    strong { color: $red; }
  }

  figure {
    clear: both;
    img {
      padding-right: 30px;
      float: left;
      width: 30%;
    }

    figcaption {
      display: inline-block;
      float: right;
      margin-bottom: 30px;
      width: 70%;

      span {
        display: block;
        font-weight: 700;
      }
    }
  }

}



// Section - Dontate + Book  
//////////////////////

section.cta {
  background: $black;
  position: relative;
  text-align: center;

  h2, p {
    color: $white;
    margin: 0 auto 30px;
    max-width: 450px;
    width: 75%;
  }

  .img-shell {
    @media screen and ( max-width: $md ) { 
      margin: 0 auto;
    }
  }

  .donate {
    background: url(../images/bg-3.jpg) top center no-repeat;
    background-size: cover;
  
    .content {
      padding-top: 120px;
      @media screen and ( max-width: $md ) { padding: 75px 0; }
    }
  }
  
  .book {
    background: url(../images/bg-4.jpg) bottom left no-repeat;
    background-size: contain;
  
    .content {
      padding: 120px 0;
      @media screen and ( max-width: $md ) { padding: 75px 0; }
    }
  }
}



// Social 
//////////////////////

.social {
  background: $red;
  padding: 15px 0;
  text-align: center;

  h2 { 
    color: $white;
    display: inline-block;
    font-family: $lato;
    font-size: 4vw;
    font-weight: 700;
    margin: 0;
    @media screen and ( max-width: $sm ) { 
      display: block;
      font-size: 6vw;
      margin: 10px 0 20px;
    }
  }

  .icons { display: inline-block; }

  a {
    border-bottom: 3px solid $red;
    color: $white;
    font-size: 4vw;
    margin-left: 40px;
    i { padding-bottom: 10px; }
    &:hover, &:focus, &:active {
      border-bottom: 3px solid lighten( $red, 40% );
      color: lighten( $red, 40% );
    }
    @media screen and ( max-width: $sm ) { 
      font-size: 10vw;
      margin: 0 20px;
    }
  }
}



// Section - Contact Form  
//////////////////////

section.contact {
  background: url(../images/bg-2.jpg) top right no-repeat;
  background-size: cover;
  background-position: 300px 0;
  height: 100vh;
  min-height: 800px;
  padding: 120px 0;
  @media screen and ( max-width: $md ) {
    height: auto;
    min-height: initial;
    padding: 75px 0;
  }
  @media screen and ( max-width: $sm ) {
    background-position: 0 0;
    text-align: center;
  }

  h2 { 
    margin: 0 auto 30px; 
    text-align: center;
    @media screen and ( max-width: $sm ) {
      margin-bottom: 15px;
    }
  }

  .img-shell { margin: 0 auto 30px; }

  p { 
    text-align: center; 
    margin-bottom: 30px;
    .bullet { margin: 0 10px; }
  }

  .btn-wrapper {
    @media screen and ( max-width: $md ) {
      text-align: center;
    }
  }
}



// Footer  
//////////////////////

footer {
  background: $black;
  @media screen and ( max-width: $md ) {
    text-align: center;
  }

  a {
    color: rgba( $white, 0.5 );
    display: block;
    line-height: 1.5em;
    margin-bottom: 15px;
    &:hover, &:focus, &:active {
      color: $white;
    }
  }
  
  form { 
    margin-top: 30px; 
    margin-bottom: 20px;
    @media screen and ( max-width: $md ) {
      input { margin: 0 auto; }
    }
  }
  
  .row {
    padding: 100px 0;
    @media screen and ( max-width: $md ) {
      padding: 50px 0;
    }

    .col:nth-child(1) {  
      padding-right: 45px;
      @media screen and ( max-width: $sm ) {
        margin-bottom: 50px;
        padding-right: 15px;
      }
    }
    .col:nth-child(2) { 
      border-left: 1px solid rgba( $white, 0.3 );
      border-right: 1px solid rgba( $white, 0.3 );
      padding: 0 45px;
      @media screen and ( max-width: $sm ) {
        border: none;
        margin-bottom: 50px;
        padding: 0 15px;
      }
    }
    .col:nth-child(3) { 
      padding-left: 45px;
      @media screen and ( max-width: $sm ) {
        padding-left: 15px;
      }
    }
  }
  
  .copy-right {
    background: $red;

    p {
      color: $white;
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 0.2em;
      margin: 0 auto;
      padding: 15px;
      text-align: center;
    }
  }
}